html, body, #root {
  height: 100%;
}

.pf-c-accordion {
  --pf-c-accordion__expanded-content--Color: var(--pf-global--palette--black-850);
}

.mt-sm {
  margin-top: 20px;
}

.mb-sm {
  margin-bottom: 20px;
}

.m-xs {
  margin: 5px;
}

.mw-1000 {
  max-width: 1000px;
}

.portrait {
  max-width: 300px;
  border-radius: 50%;
}

.mini-icon {
  max-width: 30px;
  border-radius: 30%;
}
