@import "~@patternfly/react-catalog-view-extension/dist/css/react-catalog-view-extension.css";

html, body, #root {
  height: 100%;
}

.pf-c-accordion {
  --pf-c-accordion__expanded-content--Color: var(--pf-global--palette--black-850);
}

.blog-image {
  max-width: 400px;
}

.catalog-tile-pf-icon {
  max-width: 100%;
}

.card-350-height {
  height: 350px;
}

.code-struct * {
  padding-bottom: 0;
  font-size: 1em;
}

.line-height-1-6 * {
  line-height: 1.6;
}
